<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">PCMS</title>
    <link th:href="@{/css/bootstrap/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/bootstrap/bootstrap-icons.css}" rel="stylesheet">
    <link th:href="@{/css/header/style.css}" rel="stylesheet">
  </head>
  <body>
    <header th:replace="~{layout/header :: header}"></header>

    <div layout:fragment="content">
    </div>

    <footer th:replace="~{layout/footer :: footer}"></footer>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
  </body>
</html>

