.navbar-light .navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.navbar-toggler {
    border: 2px solid transparent;
    padding: 0.25rem 0.5rem;
    transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

.navbar-toggler.collapsed {
    background-color: transparent;
    border-color: rgba(255, 255, 255, 0.6);
}

.navbar-toggler:not(.collapsed) {
    background-color: #0d6efd;
    border-color: white;
}

.navbar-toggler:focus {
    box-shadow: none;
}
